# Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
#A database is an organised collection of structured information, or data typically stored in a computer system.

In [ ]:
SQL Database:
    1.RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
    2.These databases have fixed or static or predefined schema
    3.These databases are not suited for hierarchical data storage.
    4.These databases are best suited for complex queries]
    5.Vertically Scalable
NoSQL Database:
    1.Non-relational or distributed database system.
    2.They have dynamic schema
    3.These databases are best suited for hierarchical data storage.
    4.These databases are not so good for complex queries
    5.Horizontally scalable

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
# A data definition language (DDL) is a computer language used to create and modify the structure of database objects 
# in a database.

In [10]:
#CREATE:
#    This command is used to create the database or its objects 
#    (like table, index, function, views, store procedure, and triggers).

#CREATE TABLE Customer_Master(CustId Int Primary Key, FirstName varchar(50), LastName varchar(50), EmailId varchar(100) NOT NULL)

In [3]:
#  DROP:
#    A drop command is used to delete objects such as a table, index or view. A DROP statement cannot be rolled back, 
#    so once an object is destroyed, thereâ€™s no way to recover it.
    
#    DROP TABLE Customer_Master

In [4]:
# ALTER :
#    An alter command modifies an existing database table. This command can add up additional column, 
#    drop existing columns and even change the data type of columns involved in a database table.
    
#    ALTER TABLE Customer_Master ADD Primary Key (Cust_pk):

In [5]:
# TRUNCATE :
#     TRUNCATE statement is used to quickly remove all records from a table. However, unlike DROP that completely destroys 
#     a table, TRUNCATE preserves its full structure to be reused later.

#     TRUNCATE TABLE Customer_Master;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [6]:
# A data manipulation language (DML)is to manipulate data in a database. Manipulation involves Inserting, retieving and deleting
# data from existing tables.

In [7]:
# INSERT: This command adds one more records to the table

#  INSERT INTO Customer_Master (CustId, FirstName, LastName, EmailId) VALUES(123,'Samr','Khan','samar@gmail.com')

In [8]:
# UPDATE: This command modifies existing records.

#  UPDATE TABLE Customer_Master SET FirstName ='Samar'WHERE CustId=123

In [9]:
# DELETE: This command removes one or more records from a table according to specified conditions.

#  DELETE FROM Customer_Master WHERE Custid=383

# Q4. What is DQL? Explain SELECT with an example.

In [11]:
# DQL statements are used for performing queries on the data within schema objects.

#  To select all records form the table Student. You can also filter the table by WHERE clause.
#  SELECT ROLL_NO, NAME, AGE FROM Student;

# Q5. Explain Primary Key and Foreign Key.

In [12]:
 # Primary Key:
 #       A primary key is used to ensure data in the specific column is unique.
 #       Primary key uniquely identifies a record in the RDBMS. It does not allows NULL values
 # Foreign key:
  #      A foreign key is a column or group of columns in a relational database table that provides a link between data in 
  #      two tables. 
  #      It refers to the field in a table which is the primary key of another table. It can contain duplicate values and a table 
  #      in a relational database.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

In [13]:
# cursor(): It is an object that is used to make the connection for executing SQL queries.


# execute(): This method executes the given database operation (query or command). The parameters found in the tuple or 
#            dictionary params are bound to the variables in the operation.

# Give the order of execution of SQL clauses in an SQL query.

In [ ]:
# 1. from
# 2. where
# 3. group by
# 4. having
# 5. select
# 6. order by
# 7. limit